
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li>@Html.ActionLink("Home", "Home", "CS")</li>
            <li>About Us</li>
        </div>
    </div>
</div>

<div class="aboutus">
    <div class="container">

        @*<div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">*@
            <div class="col-md-7">
             <img src=" ~/images/7.jpg" class="img-responsive">
            <h4>Who we are</h4>
            <p>
                Connecting solution has been founded in early 2017 with the team of young and innovative professional who are having 10+ Years of expertise into enabling, implementing & plugging the Digital Payment Solution, API Integration, Reconciliation and Business Automation.
            </p>
            <p>
                We understand the pain of client who is into online business and having less knowledge of Digital Payment Solution, API Integration, Reconciliation and Business Automation. We provide the solution to increase the business revenue for our client.
            </p>
        </div>
        @*<div class="col-md-5 wow fadeInDown" >*@@*data-wow-duration="1000ms" data-wow-delay="600ms">*@
            <div class="col-md-5">
    <div class=" skill">
                <h4>Our Goal</h4>
                <p>To build a rapidly growing organization using innovations to empower client, by simplifying payments acceptance and by providing enhanced value additions for better business growth.</p>
            </div>
            <div class="skill">
                <h4>Our Vision</h4>
                <p>To be a valuable asset for our client and play a major role in Digital Payment Solution, API Integration, Reconciliation and Business Automation for our client.</p>
            </div>
            <div class="skill">
                <h4>Our Philosophy</h4>
                <p>We consider our employees as the most valuable assets of the company. We believe that employees working in our organization are an asset with unlimited potential when given an opportunity for growth and development.</p>
            </div>
        </div>
    </div>
</div>
@*<div class="our-team">
        <div class="container">
            <h3>Our Team</h3>
            <div class="text-center">
                <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="~/images/services/1.jpg" alt="">
                    <h4>John Doe</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
                </div>
                <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <img src="~/images/services/2.jpg" alt="">
                    <h4>John Doe</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
                </div>
                <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <img src="~/images/services/3.jpg" alt="">
                    <h4>John Doe</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
                </div>
            </div>
        </div>
    </div>*@

