
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li>@Html.ActionLink("Home", "Home", "CS")</li>
            <li>Services</li>
        </div>
    </div>
</div>

<section id="businesspaymentsolution">
    <div class="services">
        <div class="container">

            <div class="text-uppercase"><h3 style="padding-left:15px;"><span style="color:red">business</span> payment solution</h3></div>
            <div class="row">
                <div class="col-md-6">

                    <img src="~/images/services/Payment Solution.jpg" class="img-responsive imgpaddingbottom">

                </div>

                <div class="col-md-6">
                    <div class="media">
                        <ul>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Virtual Environment</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Automatic money transfer to merchant account</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Fast , Easy and Secure</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Easy access to global market</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Security</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Online shopping 24*7</h6>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p class="text-left text-justify">
                    Payment Gateway defines the integration service which comes into play when online payments are done for placing or accepting a service or product for an E-commerce website. Payment gateways encrypt sensitive information, such as credit card numbers, to ensure that information passes securely between the customer and the merchant.
                </p>
                <p class="text-left text-justify">
                    It is a software application that needs to be stored on your server. There are a number of payment gateways available across the internet. We integrate payment gateways through their API (Application Programming Interface) enabling your customers to easily order and make payments. Our team of experienced programmers has proven expertise in payment gateway integration as part of our custom eCommerce solutions.
                </p>
            </div>
        </div>
    </div>
</section>
@*<hr />*@

<section id="APIPlugin">
    <div class="services">
        <div class="container">

            <div class="text-uppercase"><h3 style="padding-left:15px;"><span style="color:red">business</span> API integration</h3></div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/services/api-integration.jpg" class="img-responsive imgpaddingbottom">

                </div>

                <div class="col-md-6">
                    <div class="media">
                        <ul>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">SELECTION</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">AUTHENTICATION</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">DISCOVER</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">CUSTOM DATA</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">MAP DATA</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">TRANSFORM DATA</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">CRUD(S)</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">BROWSE</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">EVENTS & SYNCHRONIZATION</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
              
            </div>
            <div class="form-group">
                <p class="text-left text-justify">
                    Product Owners and App Developers are frequently tasked with designing API integrations between their apps with the cloud services used by their customers, partners or employees.  Integrating your app with cloud services such as Dropbox, Google Drive, Salesforce.com,  Jira and Quickbooks can provide your users with a “cooperative” experience in which they can seamlessly share data between your app and the other cloud services they use on a daily basis. This new era we’re entering envisions cooperative, or connected, applications via cloud-based API integrations.
                </p>
                @*<p class="text-left text-justify">
                        It is a software application that needs to be stored on your server. There are a number of payment gateways available across the internet. We integrate payment gateways through their API (Application Programming Interface) enabling your customers to easily order and make payments. Our team of experienced programmers has proven expertise in payment gateway integration as part of our custom eCommerce solutions.
                    </p>*@
            </div>
        </div>
    </div>
</section>
<!-- #region Test -->
@*<hr />*@

@*<div class="services">
        <div class="container">

            <div class="text-uppercase"><h3 style="padding-left:15px;"><span style="color:red">business</span> e-commerce solution</h3></div>
            <div class="col-md-6">
                <img src="~/images/services/ecommerce-solutions.jpg" class="img-responsive">

            </div>

            <div class="col-md-6">
                <div class="media">
                    <ul>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Virtual Environment</h6>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Automatic money transfer to merchant account</h6>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Fast , Easy and Secure</h6>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Easy access to global market</h6>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Security</h6>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Online shopping 24*7</h6>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="form-group">
                <p class="text-left text-justify">
                    Payment Gateway defines the integration service which comes into play when online payments are done for placing or accepting a service or product for an E-commerce website. Payment gateways encrypt sensitive information, such as credit card numbers, to ensure that information passes securely between the customer and the merchant.
                </p>
                <p class="text-left text-justify">
                    It is a software application that needs to be stored on your server. There are a number of payment gateways available across the internet. We integrate payment gateways through their API (Application Programming Interface) enabling your customers to easily order and make payments. Our team of experienced programmers has proven expertise in payment gateway integration as part of our custom eCommerce solutions.
                </p>
            </div>
        </div>
    </div>*@
@*<hr />*@
<!-- #region Test -->
<section id="reconciliation">
    <div class="services">
        <div class="container">

            <div class="text-uppercase"><h3 style="padding-left:15px;"><span style="color:red">business</span> Data reconciliation solution</h3></div>
            <div class="row">

                <div class="col-md-6">
                    <img src="~/images/services/Data-Reconciliation.jpg" class="img-responsive imgpaddingbottom">

                </div>

                <div class="col-md-6">
                    <div class="media">
                        <ul>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Full control to business users</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Two way recon</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Three way recon</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Efficiency, accuracy, and transparency</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Security</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Software-as-a-Service (cloud-based) solutions</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Offline Reconciliation </h6>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p class="text-left text-justify">
                    It is crucially important that all organizations, which rightly seek financial stability and control, pay careful attention to the need to deploy a robust reconciliation solution.
                </p>
                <p class="text-left text-justify">
                    However, it is hugely surprising to find that, even in today’s highly regulated environment, many businesses continue to operate akin to “the way it’s always been done”, largely using Excel or a manual processes or a combination of the two, believing cost issues or the perceived level of importance attached to this key issue to be restrictive in initiating a reconciliation solution procurement. These limiting views prevail such that including another IT project in the budget, particularly so in the current economic climate, is often deemed impractical. This is in spite of a reconciliation solution’s ability to provide the potential for improved stability and cost mitigation.
                </p>
                <p class="text-left text-justify">
                    So what’s to be done? End to end solutions offer complete visibility and auditable control to all reconciliation processes across the enterprise The best automated matching algorithms often offer 99% success, process cost mitigation upwards of 60-80% and a return on investment of between 3 – 9 months in many cases. Crucially, the TCO (total cost of ownership) of the most modern solutions solidify the business case with forgiving ‘professional services’ costs incorporating installation, training and support. Departmental system ‘ownership’ and usability reduce the need for specialist IT management and support input.
                </p>
            </div>
        </div>
    </div>
</section>
@*<hr />*@
@*<div class="services">
        <div class="container">

            <div class="text-uppercase"><h3 style="padding-left:15px;"><span style="color:red">business</span> process designing / re-designing</h3></div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/services/BusinessProcessDesigning1.jpg" class="img-responsive imgpaddingbottom">

                </div>

                <div class="col-md-6">
                    <div class="media">
                        <ul>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Virtual Environment</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Automatic money transfer to merchant account</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Fast , Easy and Secure</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Easy access to global market</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Security</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Online shopping 24*7</h6>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p class="text-left text-justify">
                    Payment Gateway defines the integration service which comes into play when online payments are done for placing or accepting a service or product for an E-commerce website. Payment gateways encrypt sensitive information, such as credit card numbers, to ensure that information passes securely between the customer and the merchant.
                </p>
                <p class="text-left text-justify">
                    It is a software application that needs to be stored on your server. There are a number of payment gateways available across the internet. We integrate payment gateways through their API (Application Programming Interface) enabling your customers to easily order and make payments. Our team of experienced programmers has proven expertise in payment gateway integration as part of our custom eCommerce solutions.
                </p>
            </div>
        </div>
    </div>*@
@*<hr />
    <div class="services">
        <div class="container">

            <div class="text-uppercase"><h3 style="padding-left:15px;"><span style="color:red">business</span> payment API integration</h3></div>
            <div class="col-md-6">
                <img src="~/images/services/payment-geteway-integration1.jpg" class="img-responsive">

            </div>

            <div class="col-md-6">
                <div class="media">
                    <ul>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Virtual Environment</h6>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Automatic money transfer to merchant account</h6>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Fast , Easy and Secure</h6>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Easy access to global market</h6>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Security</h6>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Online shopping 24*7</h6>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="form-group">
                <p class="text-left text-justify">
                    Payment Gateway defines the integration service which comes into play when online payments are done for placing or accepting a service or product for an E-commerce website. Payment gateways encrypt sensitive information, such as credit card numbers, to ensure that information passes securely between the customer and the merchant.
                </p>
                <p class="text-left text-justify">
                    It is a software application that needs to be stored on your server. There are a number of payment gateways available across the internet. We integrate payment gateways through their API (Application Programming Interface) enabling your customers to easily order and make payments. Our team of experienced programmers has proven expertise in payment gateway integration as part of our custom eCommerce solutions.
                </p>
            </div>
        </div>
    </div>*@
@*<hr />*@
@*<div class="services">
        <div class="container">

            <div class="text-uppercase"><h3 style="padding-left:15px;"><span style="color:red">business</span> rule management solution</h3></div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/services/BusinessRuleManagementSystem.jpg" class="img-responsive imgpaddingbottom">

                </div>

                <div class="col-md-6">
                    <div class="media">
                        <ul>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Virtual Environment</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Automatic money transfer to merchant account</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Fast , Easy and Secure</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Easy access to global market</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Security</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Online shopping 24*7</h6>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p class="text-left text-justify">
                    Payment Gateway defines the integration service which comes into play when online payments are done for placing or accepting a service or product for an E-commerce website. Payment gateways encrypt sensitive information, such as credit card numbers, to ensure that information passes securely between the customer and the merchant.
                </p>
                <p class="text-left text-justify">
                    It is a software application that needs to be stored on your server. There are a number of payment gateways available across the internet. We integrate payment gateways through their API (Application Programming Interface) enabling your customers to easily order and make payments. Our team of experienced programmers has proven expertise in payment gateway integration as part of our custom eCommerce solutions.
                </p>
            </div>
        </div>
    </div>*@
@*<hr />*@
<section id="automation">
    <div class="services">
        <div class="container">

            <div class="text-uppercase text-left"><h3 style="padding-left:15px;"><span style="color:red">business</span> automation</h3></div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/services/BusinessAutomation_595.jpg" class="img-responsive imgpaddingbottom">

                </div>

                <div class="col-md-6">
                    <div class="media">
                        <ul>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">business model workflows</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Automate routines and save time</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Integrate apps to sync your processes</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Manage your tasks </h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Integrates with other platforms</h6>
                                </div>
                            </li>
                            <li>
                                <div class="media-left">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Scales as your business grows</h6>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>

               
            </div>
            <div class="form-group">
                <p class="text-left text-justify">
                    There are many BPM solutions available. But As a business owner, you know how tricky it can be to grow your revenue without breaking the bank. You need the right tools to manage your everyday processes. An enter-pricey BPM can be too complex for you, whereas we automate your business in youer convenient mode which will help you to increase your business.
                </p>
                @*<p class="text-left text-justify">
                        It is a software application that needs to be stored on your server. There are a number of payment gateways available across the internet. We integrate payment gateways through their API (Application Programming Interface) enabling your customers to easily order and make payments. Our team of experienced programmers has proven expertise in payment gateway integration as part of our custom eCommerce solutions.
                    </p>*@
            </div>
        </div>
    </div>
</section>