
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Home</h2>

<div class="container form-group">
    <div class="panel panel-default">
        <div class="panel-heading text-uppercase text-center"><b>WELCOME AGENt</b></div>
        <div class="panel-body">
            <div class="form-group">
                <div class="form-group">
                    <center>
                        <img src="~/image/money_transfer.jpg" class="img-responsive text-center" alt="UDIO Logo">
                    </center>
                </div>
            </div>
        </div>


    </div>
   
</div>