
@{
    Layout = null;
    ViewBag.Title = "TranServ DMT - LogOut";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container form-group">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="" data-target="#myNavbar">
                        <span class="icon-bar">a</span>
                        <span class="icon-bar">s</span>
                        <span class="icon-bar">d</span>
                    </button>
                    <a class="navbar-brand" href="#">DMT Express </a>
                </div>

            </div>
        </nav>
        <div class="form-group">
            <p>You have been successfully LogOut. Kindly @Html.ActionLink("Click","Login","Home") here to Login</p>

        </div>
        <div class="form-group">
            <center>
                <img src="image/Udio Logo_Powered by RBL Bank.png" class="img-responsive text-center" alt="UDIO Logo" width="104" height="60">
            </center>
        </div>
        <footer>
            2017 <span class="glyphicon glyphicon-copyright-mark"></span> &nbsp;Copyright. Agent Pvt Ltd.@*&copy; @DateTime.Now.Year - My ASP.NET Application*@
        </footer>
        </div>
</body>
</html>
